<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenghuang.job.dao.master.EvaluateInfoMapper">
  <resultMap id="BaseResultMap" type="com.fenghuang.job.entity.EvaluateInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_mobile" jdbcType="VARCHAR" property="userMobile" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="star_level" jdbcType="INTEGER" property="starLevel" />
    <result column="evaluate_content" jdbcType="VARCHAR" property="evaluateContent" />
    <result column="evaluate_source" jdbcType="INTEGER" property="evaluateSource" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, user_id, company_id, user_name, user_mobile, is_delete, star_level, 
    evaluate_content, evaluate_source, founder, modifier, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from evaluate_info
    where id = #{id,jdbcType=INTEGER}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from evaluate_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fenghuang.job.entity.EvaluateInfo">
    insert into evaluate_info (id, project_id, user_id, 
      company_id, user_name, user_mobile, 
      is_delete, star_level, evaluate_content, 
      evaluate_source, founder, modifier, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userMobile,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=INTEGER}, #{starLevel,jdbcType=INTEGER}, #{evaluateContent,jdbcType=VARCHAR}, 
      #{evaluateSource,jdbcType=INTEGER}, #{founder,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fenghuang.job.entity.EvaluateInfo">
    insert into evaluate_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userMobile != null">
        user_mobile,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="starLevel != null">
        star_level,
      </if>
      <if test="evaluateContent != null">
        evaluate_content,
      </if>
      <if test="evaluateSource != null">
        evaluate_source,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="starLevel != null">
        #{starLevel,jdbcType=INTEGER},
      </if>
      <if test="evaluateContent != null">
        #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluateSource != null">
        #{evaluateSource,jdbcType=INTEGER},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghuang.job.entity.EvaluateInfo">
    update evaluate_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userMobile != null">
        user_mobile = #{userMobile,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="starLevel != null">
        star_level = #{starLevel,jdbcType=INTEGER},
      </if>
      <if test="evaluateContent != null">
        evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      </if>
      <if test="evaluateSource != null">
        evaluate_source = #{evaluateSource,jdbcType=INTEGER},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghuang.job.entity.EvaluateInfo">
    update evaluate_info
    set project_id = #{projectId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      user_mobile = #{userMobile,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      star_level = #{starLevel,jdbcType=INTEGER},
      evaluate_content = #{evaluateContent,jdbcType=VARCHAR},
      evaluate_source = #{evaluateSource,jdbcType=INTEGER},
      founder = #{founder,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findEvaluateInfo" resultMap="BaseResultMap" parameterType="com.fenghuang.job.request.ReqEvaluateInfoQuery">
    select
    <include refid="Base_Column_List"/>
    from evaluate_info
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="projectId != null">
        and project_id = #{projectId}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="userMobile != null">
        and user_mobile = #{userMobile}
      </if>
    </where>
  </select>

</mapper>