<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenghuang.job.dao.master.ProjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.fenghuang.job.entity.ProjectInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="project_type_id" jdbcType="INTEGER" property="projectTypeId" />
    <result column="project_type_name" jdbcType="VARCHAR" property="projectTypeName" />
    <result column="project_title" jdbcType="VARCHAR" property="projectTitle" />
    <result column="project_content" jdbcType="VARCHAR" property="projectContent" />
    <result column="project_ascription_company" jdbcType="VARCHAR" property="projectAscriptionCompany" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="work_address" jdbcType="VARCHAR" property="workAddress" />
    <result column="gender_requirement" jdbcType="INTEGER" property="genderRequirement" />
    <result column="project_label" jdbcType="VARCHAR" property="projectLabel" />
    <result column="salary_unit" jdbcType="INTEGER" property="salaryUnit" />
    <result column="settlement_cycle" jdbcType="INTEGER" property="settlementCycle" />
    <result column="work_welfares_id" jdbcType="VARCHAR" property="workWelfaresId" />
    <result column="project_need_num" jdbcType="INTEGER" property="projectNeedNum" />
    <result column="project_contacts_name" jdbcType="VARCHAR" property="projectContactsName" />
    <result column="project_contacts_mobile" jdbcType="VARCHAR" property="projectContactsMobile" />
    <result column="project_contacts_email" jdbcType="VARCHAR" property="projectContactsEmail" />
    <result column="project_skill" jdbcType="VARCHAR" property="projectSkill" />
    <result column="work_time_num" jdbcType="INTEGER" property="workTimeNum" />
    <result column="work_time_unit" jdbcType="INTEGER" property="workTimeUnit" />
    <result column="work_time_interval_min" jdbcType="TIME" property="workTimeIntervalMin" />
    <result column="work_time_interval_max" jdbcType="TIME" property="workTimeIntervalMax" />
    <result column="work_time_requirement" jdbcType="VARCHAR" property="workTimeRequirement" />
    <result column="project_begin_time" jdbcType="TIMESTAMP" property="projectBeginTime" />
    <result column="project_end_time" jdbcType="TIMESTAMP" property="projectEndTime" />
    <result column="project_remark" jdbcType="VARCHAR" property="projectRemark" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="totalPay_amount" jdbcType="DECIMAL" property="totalpayAmount" />
    <result column="service_charge" jdbcType="DECIMAL" property="serviceCharge" />
    <result column="service_charge_rate" jdbcType="DECIMAL" property="serviceChargeRate" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
    <result column="project_state" jdbcType="INTEGER" property="projectState" />
    <result column="examine_status" jdbcType="INTEGER" property="examineStatus" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id,user_name,project_type_id, project_type_name, project_title, project_content,
    project_ascription_company, province_id, city_id, area_id, work_address, gender_requirement, 
    project_label, salary_unit, settlement_cycle, work_welfares_id, project_need_num, 
    project_contacts_name, project_contacts_mobile, project_contacts_email, project_skill, 
    work_time_num, work_time_unit, work_time_interval_min, work_time_interval_max, work_time_requirement, 
    project_begin_time, project_end_time, project_remark, order_id, totalPay_amount, 
    service_charge, service_charge_rate, order_state, project_state, examine_status, 
    is_delete, founder, modifier, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fenghuang.job.entity.ProjectInfo">
    insert into project_info (id, user_id,user_name,project_type_id,
      project_type_name, project_title, project_content, 
      project_ascription_company, province_id, city_id, 
      area_id, work_address, gender_requirement, 
      project_label, salary_unit, settlement_cycle, 
      work_welfares_id, project_need_num, project_contacts_name, 
      project_contacts_mobile, project_contacts_email, 
      project_skill, work_time_num, work_time_unit, 
      work_time_interval_min, work_time_interval_max, work_time_requirement, 
      project_begin_time, project_end_time, project_remark, 
      order_id, totalPay_amount, service_charge, 
      service_charge_rate, order_state, project_state, 
      examine_status, is_delete, founder, 
      modifier, create_date, update_date
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},#{userName,jdbcType=VARCHAR}, #{projectTypeId,jdbcType=INTEGER},
      #{projectTypeName,jdbcType=VARCHAR}, #{projectTitle,jdbcType=VARCHAR}, #{projectContent,jdbcType=VARCHAR}, 
      #{projectAscriptionCompany,jdbcType=VARCHAR}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{areaId,jdbcType=INTEGER}, #{workAddress,jdbcType=VARCHAR}, #{genderRequirement,jdbcType=INTEGER}, 
      #{projectLabel,jdbcType=VARCHAR}, #{salaryUnit,jdbcType=INTEGER}, #{settlementCycle,jdbcType=INTEGER},
      #{workWelfaresId,jdbcType=VARCHAR}, #{projectNeedNum,jdbcType=INTEGER}, #{projectContactsName,jdbcType=VARCHAR},
      #{projectContactsMobile,jdbcType=VARCHAR}, #{projectContactsEmail,jdbcType=VARCHAR}, 
      #{projectSkill,jdbcType=VARCHAR}, #{workTimeNum,jdbcType=INTEGER}, #{workTimeUnit,jdbcType=INTEGER},
      #{workTimeIntervalMin,jdbcType=TIME}, #{workTimeIntervalMax,jdbcType=TIME}, #{workTimeRequirement,jdbcType=VARCHAR}, 
      #{projectBeginTime,jdbcType=TIMESTAMP}, #{projectEndTime,jdbcType=TIMESTAMP}, #{projectRemark,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{totalpayAmount,jdbcType=DECIMAL}, #{serviceCharge,jdbcType=DECIMAL}, 
      #{serviceChargeRate,jdbcType=DECIMAL}, #{orderState,jdbcType=INTEGER}, #{projectState,jdbcType=INTEGER}, 
      #{examineStatus,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{founder,jdbcType=VARCHAR}, 
      #{modifier,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fenghuang.job.entity.ProjectInfo">
    insert into project_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="projectTypeId != null">
        project_type_id,
      </if>
      <if test="projectTypeName != null">
        project_type_name,
      </if>
      <if test="projectTitle != null">
        project_title,
      </if>
      <if test="projectContent != null">
        project_content,
      </if>
      <if test="projectAscriptionCompany != null">
        project_ascription_company,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="areaId != null">
        area_id,
      </if>
      <if test="workAddress != null">
        work_address,
      </if>
      <if test="genderRequirement != null">
        gender_requirement,
      </if>
      <if test="projectLabel != null">
        project_label,
      </if>
      <if test="salaryUnit != null">
        salary_unit,
      </if>
      <if test="settlementCycle != null">
        settlement_cycle,
      </if>
      <if test="workWelfaresId != null">
        work_welfares_id,
      </if>
      <if test="projectNeedNum != null">
        project_need_num,
      </if>
      <if test="projectContactsName != null">
        project_contacts_name,
      </if>
      <if test="projectContactsMobile != null">
        project_contacts_mobile,
      </if>
      <if test="projectContactsEmail != null">
        project_contacts_email,
      </if>
      <if test="projectSkill != null">
        project_skill,
      </if>
      <if test="workTimeNum != null">
        work_time_num,
      </if>
      <if test="workTimeUnit != null">
        work_time_unit,
      </if>
      <if test="workTimeIntervalMin != null">
        work_time_interval_min,
      </if>
      <if test="workTimeIntervalMax != null">
        work_time_interval_max,
      </if>
      <if test="workTimeRequirement != null">
        work_time_requirement,
      </if>
      <if test="projectBeginTime != null">
        project_begin_time,
      </if>
      <if test="projectEndTime != null">
        project_end_time,
      </if>
      <if test="projectRemark != null">
        project_remark,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="totalpayAmount != null">
        totalPay_amount,
      </if>
      <if test="serviceCharge != null">
        service_charge,
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="projectState != null">
        project_state,
      </if>
      <if test="examineStatus != null">
        examine_status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeId != null">
        #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeName != null">
        #{projectTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projectTitle != null">
        #{projectTitle,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="projectAscriptionCompany != null">
        #{projectAscriptionCompany,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="workAddress != null">
        #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="genderRequirement != null">
        #{genderRequirement,jdbcType=INTEGER},
      </if>
      <if test="projectLabel != null">
        #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="salaryUnit != null">
        #{salaryUnit,jdbcType=INTEGER},
      </if>
      <if test="settlementCycle != null">
        #{settlementCycle,jdbcType=INTEGER},
      </if>
      <if test="workWelfaresId != null">
        #{workWelfaresId,jdbcType=VARCHAR},
      </if>
      <if test="projectNeedNum != null">
        #{projectNeedNum,jdbcType=INTEGER},
      </if>
      <if test="projectContactsName != null">
        #{projectContactsName,jdbcType=VARCHAR},
      </if>
      <if test="projectContactsMobile != null">
        #{projectContactsMobile,jdbcType=VARCHAR},
      </if>
      <if test="projectContactsEmail != null">
        #{projectContactsEmail,jdbcType=VARCHAR},
      </if>
      <if test="projectSkill != null">
        #{projectSkill,jdbcType=VARCHAR},
      </if>
      <if test="workTimeNum != null">
        #{workTimeNum,jdbcType=INTEGER},
      </if>
      <if test="workTimeUnit != null">
        #{workTimeUnit,jdbcType=INTEGER},
      </if>
      <if test="workTimeIntervalMin != null">
        #{workTimeIntervalMin,jdbcType=TIME},
      </if>
      <if test="workTimeIntervalMax != null">
        #{workTimeIntervalMax,jdbcType=TIME},
      </if>
      <if test="workTimeRequirement != null">
        #{workTimeRequirement,jdbcType=VARCHAR},
      </if>
      <if test="projectBeginTime != null">
        #{projectBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectRemark != null">
        #{projectRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="totalpayAmount != null">
        #{totalpayAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="serviceChargeRate != null">
        #{serviceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=INTEGER},
      </if>
      <if test="projectState != null">
        #{projectState,jdbcType=INTEGER},
      </if>
      <if test="examineStatus != null">
        #{examineStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghuang.job.entity.ProjectInfo">
    update project_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeId != null">
        project_type_id = #{projectTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectTypeName != null">
        project_type_name = #{projectTypeName,jdbcType=VARCHAR},
      </if>
      <if test="projectTitle != null">
        project_title = #{projectTitle,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null">
        project_content = #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="projectAscriptionCompany != null">
        project_ascription_company = #{projectAscriptionCompany,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        area_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="workAddress != null">
        work_address = #{workAddress,jdbcType=VARCHAR},
      </if>
      <if test="genderRequirement != null">
        gender_requirement = #{genderRequirement,jdbcType=INTEGER},
      </if>
      <if test="projectLabel != null">
        project_label = #{projectLabel,jdbcType=VARCHAR},
      </if>
      <if test="salaryUnit != null">
        salary_unit = #{salaryUnit,jdbcType=INTEGER},
      </if>
      <if test="settlementCycle != null">
        settlement_cycle = #{settlementCycle,jdbcType=INTEGER},
      </if>
      <if test="workWelfaresId != null">
        work_welfares_id = #{workWelfaresId,jdbcType=VARCHAR},
      </if>
      <if test="projectNeedNum != null">
        project_need_num = #{projectNeedNum,jdbcType=INTEGER},
      </if>
      <if test="projectContactsName != null">
        project_contacts_name = #{projectContactsName,jdbcType=VARCHAR},
      </if>
      <if test="projectContactsMobile != null">
        project_contacts_mobile = #{projectContactsMobile,jdbcType=VARCHAR},
      </if>
      <if test="projectContactsEmail != null">
        project_contacts_email = #{projectContactsEmail,jdbcType=VARCHAR},
      </if>
      <if test="projectSkill != null">
        project_skill = #{projectSkill,jdbcType=VARCHAR},
      </if>
      <if test="workTimeNum != null">
        work_time_num = #{workTimeNum,jdbcType=INTEGER},
      </if>
      <if test="workTimeUnit != null">
        work_time_unit = #{workTimeUnit,jdbcType=INTEGER},
      </if>
      <if test="workTimeIntervalMin != null">
        work_time_interval_min = #{workTimeIntervalMin,jdbcType=TIME},
      </if>
      <if test="workTimeIntervalMax != null">
        work_time_interval_max = #{workTimeIntervalMax,jdbcType=TIME},
      </if>
      <if test="workTimeRequirement != null">
        work_time_requirement = #{workTimeRequirement,jdbcType=VARCHAR},
      </if>
      <if test="projectBeginTime != null">
        project_begin_time = #{projectBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        project_end_time = #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectRemark != null">
        project_remark = #{projectRemark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="totalpayAmount != null">
        totalPay_amount = #{totalpayAmount,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        service_charge = #{serviceCharge,jdbcType=DECIMAL},
      </if>
      <if test="serviceChargeRate != null">
        service_charge_rate = #{serviceChargeRate,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=INTEGER},
      </if>
      <if test="projectState != null">
        project_state = #{projectState,jdbcType=INTEGER},
      </if>
      <if test="examineStatus != null">
        examine_status = #{examineStatus,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghuang.job.entity.ProjectInfo">
    update project_info
    set user_id = #{userId,jdbcType=INTEGER},
      project_type_id = #{projectTypeId,jdbcType=INTEGER},
      project_type_name = #{projectTypeName,jdbcType=VARCHAR},
      project_title = #{projectTitle,jdbcType=VARCHAR},
      project_content = #{projectContent,jdbcType=VARCHAR},
      project_ascription_company = #{projectAscriptionCompany,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      area_id = #{areaId,jdbcType=INTEGER},
      work_address = #{workAddress,jdbcType=VARCHAR},
      gender_requirement = #{genderRequirement,jdbcType=INTEGER},
      project_label = #{projectLabel,jdbcType=VARCHAR},
      salary_unit = #{salaryUnit,jdbcType=INTEGER},
      settlement_cycle = #{settlementCycle,jdbcType=INTEGER},
      work_welfares_id = #{workWelfaresId,jdbcType=VARCHAR},
      project_need_num = #{projectNeedNum,jdbcType=INTEGER},
      project_contacts_name = #{projectContactsName,jdbcType=VARCHAR},
      project_contacts_mobile = #{projectContactsMobile,jdbcType=VARCHAR},
      project_contacts_email = #{projectContactsEmail,jdbcType=VARCHAR},
      project_skill = #{projectSkill,jdbcType=VARCHAR},
      work_time_num = #{workTimeNum,jdbcType=INTEGER},
      work_time_unit = #{workTimeUnit,jdbcType=INTEGER},
      work_time_interval_min = #{workTimeIntervalMin,jdbcType=TIME},
      work_time_interval_max = #{workTimeIntervalMax,jdbcType=TIME},
      work_time_requirement = #{workTimeRequirement,jdbcType=VARCHAR},
      project_begin_time = #{projectBeginTime,jdbcType=TIMESTAMP},
      project_end_time = #{projectEndTime,jdbcType=TIMESTAMP},
      project_remark = #{projectRemark,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      totalPay_amount = #{totalpayAmount,jdbcType=DECIMAL},
      service_charge = #{serviceCharge,jdbcType=DECIMAL},
      service_charge_rate = #{serviceChargeRate,jdbcType=DECIMAL},
      order_state = #{orderState,jdbcType=INTEGER},
      project_state = #{projectState,jdbcType=INTEGER},
      examine_status = #{examineStatus,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      founder = #{founder,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--同一用户 & 同一类型 & 相同标题 状态为未删除的项目不允许重复-->
  <select id="findProjectParams" resultMap="BaseResultMap" parameterType="com.fenghuang.job.request.ReqProjectInfoQuery">
    select
    <include refid="Base_Column_List" />
    from project_info
    <where>
      and 1 = 1
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="projectTitle != null">
        and project_title = #{projectTitle}
      </if>
      <if test="projectTypeId != null">
        and project_type_id = #{projectTypeId}
      </if>
      <if test="projectTypeName != null">
        and project_type_name = #{projectTypeName}
      </if>
      <if test="isDelete != null">
        and is_delete = #{isDelete}
      </if>
    </where>
  </select>

  <select id="findProject" resultType="com.fenghuang.job.view.ProjectInfoView" parameterType="com.fenghuang.job.request.ReqProjectInfoQuery">
    select
    a.id,
    a.user_id userId,
    a.user_name userName,
    a.project_type_id projectTypeId,
    a.project_type_name projectTypeName,
    a.project_title projectTitle,
    a.project_content projectContent,
    a.project_ascription_company projectAscriptionCompany,
    a.province_id provinceId,
    a.city_id cityId,
    a.area_id areaId,
    a.work_address workAddress,
    a.gender_requirement genderRequirement,
    a.project_label projectLabel,
    a.salary_unit salaryUnit,
    a.settlement_cycle settlementCycle,
    a.work_welfares_id workWelfaresId,
    a.project_need_num projectNeedNum,
    a.project_contacts_name projectContactsName,
    a.project_contacts_mobile projectContactsMobile,
    a.project_contacts_email projectContactsEmail,
    a.project_skill projectSkill,
    a.work_time_num workTimeNum,
    a.work_time_unit workTimeUnit,
    a.work_time_interval_min workTimeIntervalMin,
    a.work_time_interval_max workTimeIntervalMax,
    a.work_time_requirement workTimeRequirement,
    a.project_begin_time projectBeginTime,
    a.project_end_time projectEndTime,
    a.project_remark projectRemark,
    a.order_id orderId ,
    a.totalPay_amount totalPayAmount,
    a.service_charge serviceCharge,
    a.service_charge_rate serviceChargeRate,
    a.order_state orderState,
    a.project_state projectState,
    a.examine_status examineStatus,
    a.is_delete isDelete,
    a.founder,
    a.modifier,
    a.create_date createDate,
    a.update_date updateDate,
    b.work_date_begin workDateBegin,
    b.work_date_end workDateEnd,
    c.work_time_begin workTimeBegin,
    c.work_time_end workTimeEnd
    from project_info as a left join project_work_date_info as b
    on a.id = b.project_id
    left join project_work_time_info as c
    on a.id = c.project_id

    <where>
     and 1 = 1
    <if test="userId != null">
      and a.user_id = #{userId}
    </if>
     <if test="projectTypeId != null">
       and a.project_type_id = #{projectTypeId}
     </if>
    <if test="projectTypeName != null">
      and a.project_type_name = #{projectTypeName}
    </if>
    <if test="projectTitle != null">
      and a.project_title = #{projectTitle}
    </if>
    <if test="projectAscriptionCompany != null">
      and a.project_ascription_company like CONCAT('%',#{projectAscriptionCompany},'%')
    </if>
    <if test="provinceId != null">
      and a.province_id = #{provinceId}
    </if>
    <if test="cityId != null">
      and a.city_id = #{cityId}
    </if>
    <if test="areaId != null">
      and a.area_id = #{areaId}
    </if>
    <if test="genderRequirement != null">
      and a.gender_requirement = #{genderRequirement}
    </if>
    <if test="projectLabels != null">
      and a.project_label
      <foreach item="projectLabels" index="index" collection="projectLabels" open="(" separator="," close=")">
        #{projectLabels}
      </foreach>
    </if>
    <if test="settlementCycle != null">
      and a.settlement_cycle = #{settlementCycle}
    </if>
    <if test="projectContactsName != null">
      and a.project_contacts_name = #{projectContactsName}
    </if>
    <if test="isDelete != null">
      and a.is_delete = #{isDelete}
    </if>

<!--    <if test="projectCreateDateBegin !=null and projectCreateDateBegin !=''">
      and project_create_date >= TO_DATE(#{projectCreateDateBegin},'yyyy-mm-dd')
    </if>
    <if test="projectCreateDateEnd !=null and projectCreateDateEnd !=''">
      and TO_DATE(#{projectCreateDateEnd},'yyyy-mm-dd') >= project_create_date
    </if>

    <if test="projectEndDateBegin!=null and projectEndDateBegin!=''">
      <![CDATA[   and DATE_FORMAT(project_end_date, '%Y-%m-%d')>=  DATE_FORMAT(#{projectEndDateBegin}, '%Y-%m-%d')   ]]>
    </if>
    <if test="projectEndDateEnd!=null and projectEndDateEnd!=''">
      <![CDATA[  and DATE_FORMAT(project_end_date, '%Y-%m-%d') <= DATE_FORMAT(#{projectEndDateEnd}, '%Y-%m-%d')    ]]>
    </if>

    <if test="projectDateBegin!=null and projectDateBegin!=''">
      <![CDATA[   and DATE_FORMAT(project_create_date, '%Y-%m-%d')>=  DATE_FORMAT(#{projectDateBegin}, '%Y-%m-%d')   ]]>
    </if>
    <if test="projectDateEnd!=null and projectDateEnd!=''">
      <![CDATA[  and DATE_FORMAT(project_end_date, '%Y-%m-%d') <= DATE_FORMAT(#{projectDateEnd}, '%Y-%m-%d')    ]]>
    </if>
    <if test="sortField != null">
      ORDER BY ${sortField} ${sort};
    </if>-->
    </where>
  </select>

  <select id="findProjectPage" resultMap="BaseResultMap" parameterType="com.fenghuang.job.request.ReqProjectInfo">
    select
    <include refid="Base_Column_List" />
    from project_info where 1 = 1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="projectTypeId != null">
      and project_type_id = #{projectTypeId}
    </if>
    <if test="projectTypeName != null">
      and project_type_name = #{projectTypeName}
    </if>
    <if test="createUserId != null">
      and create_user_id = #{createUserId}
    </if>
    <if test="createUserName != null">
      and create_user_name = #{createUserName}
    </if>
    <if test="projectTitle != null">
      and project_title = #{projectTitle}
    </if>
    <if test="projectStatus != null">
      and project_status = #{projectStatus}
    </if>
    <if test="examineStatus != null">
      and examine_status = #{examineStatus}
    </if>
    <if test="projectNeedPeople != null">
      and project_need_people = #{projectNeedPeople}
    </if>
    <if test="isDirectHire != null">
      and is_direct_hire = #{isDirectHire}
    </if>
    <if test="isTrusteeship != null">
      and is_trusteeship = #{isTrusteeship}
    </if>
    <if test="trusteeshipAmount != null">
      and trusteeship_amount = #{trusteeshipAmount}
    </if>
    <if test="projectCreateDateBegin !=null and projectCreateDateBegin !=''">
      and project_create_date >= TO_DATE(#{projectCreateDateBegin},'yyyy-mm-dd')
    </if>
    <if test="projectCreateDateEnd !=null and projectCreateDateEnd !=''">
      and TO_DATE(#{projectCreateDateEnd},'yyyy-mm-dd') >= project_create_date
    </if>

    <if test="projectEndDateBegin!=null and projectEndDateBegin!=''">
      <![CDATA[   and DATE_FORMAT(project_end_date, '%Y-%m-%d')>=  DATE_FORMAT(#{projectEndDateBegin}, '%Y-%m-%d')   ]]>
    </if>
    <if test="projectEndDateEnd!=null and projectEndDateEnd!=''">
      <![CDATA[  and DATE_FORMAT(project_end_date, '%Y-%m-%d') <= DATE_FORMAT(#{projectEndDateEnd}, '%Y-%m-%d')    ]]>
    </if>

    <if test="projectDateBegin!=null and projectDateBegin!=''">
      <![CDATA[   and DATE_FORMAT(project_create_date, '%Y-%m-%d')>=  DATE_FORMAT(#{projectDateBegin}, '%Y-%m-%d')   ]]>
    </if>
    <if test="projectDateEnd!=null and projectDateEnd!=''">
      <![CDATA[  and DATE_FORMAT(project_end_date, '%Y-%m-%d') <= DATE_FORMAT(#{projectDateEnd}, '%Y-%m-%d')    ]]>
    </if>

  </select>
</mapper>